*{
    margin: 0;
    z-index: 0;
    }

html {
        position: relative;
        min-height: 100%;
      }

body {
        background: #ffffff;
        font-size: 62.5%;
        font-family: 'Lato', sans-serif ,cursive;
        font-weight: 300;
        color: #4b4a4a;
    }

footer{
position: fixed;
bottom: 0;
margin-bottom: 0%;
left: 0;
right: 0;
background: #111;
height: 80px;
width: 100;

padding-top: 40px;
color: #fff;
}


.footer-bottom{

position: sticky;
margin-top: 120px;
opacity: 90%;
bottom: 0;
width: 100%;
padding-top: 30px;
height: 25px;
align-items: center;
background-color: black;
margin-bottom: 0%;

}


.footer-bottom p{
float: left;
font-size: 0.4vw;
word-spacing: 2px;
text-transform: capitalize;
color: #fff;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{

opacity: .4;
font-weight: 200;
}
.footer-menu{
width: 100%;
/* display: inline-flex; */
/* justify-content: center; */



}
.footer-menu ul{
    color: white;
/* display: inline-flex; */
 /* float: center; */
/*justify-content:right; */

}
.footer-menu ul li{
padding-left: 10%;
color: white;
padding-right: 2%;
display: inline-flex;
justify-content:  space-between;




}
.footer-menu ul li a{
color: #ffffff;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
}

