
*{
    margin: 0;
    
    z-index: 0;
    }
body{
background: #fcfcfc;
font-family: sans-serif;
}

footer{
position: absolute;
bottom: 0;
left: 0;
right: 0;
background: #111;
height: auto;
width: 100vw;

padding-top: 40px;
color: #fff;
}




.footer-bottom{
opacity: 90%;
bottom: 0;
background: #000;
width: 100%;
margin-top: 120px ;
margin-bottom: 0%;
padding-top: 30px;
padding-bottom: 10px;
display: inline-block; 
justify-content: space-evenly;
text-align: justify;
}
.footer-bottom p{
float: left;
font-size: 0.4vw;
word-spacing: 2px;
text-transform: capitalize;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
text-transform: uppercase;
opacity: .4;
font-weight: 200;
}
.footer-menu{
float: center;
display: inline;
justify-content: center;

}
.footer-menu ul{
display: flex;
justify-content: center;
}
.footer-menu ul li{
padding-left: 2%;
padding-right: 2%;
display: block;
}
.footer-menu ul li a{

color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
}

